<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="static/script.js"></script>

    <style>
        body {
            margin-left: 250px;
            margin-right: 250px;
        }
        .container {
            float: left;
            width: 200px;
            height: 300px;
        }
        .images {
            float: left;
            flex: 25%;
            max-width: 25%;
            padding: 0 4px;
        }
        .slider {
            max-width: 140px;
            float: left;
        }
        .disp {
            max-width: 25%;
            float: left; 
            max-height: 16px; 
            border: none !important;
        }
	
	.results {
            float: center;
        }

        </style>
</head>

<body>
    <nav class="nav">
        <div class="nav-center">
            <h2>My Optical Illusion Website</h2>
        </div>
    </nav>
    <div class="row">
        <div class="col">
            For both parameters, moving it left will make the big image appear more and moving both right will make
            the small image appear more. The reason there are two parameters is to fade one image out and the other
            appear more.
        </div>
    </div>
    <div class="row">
        <form id="data" action="/process" method="POST" enctype="multipart/form-data">
            <span>
                <div class="row">
                    <div class="col card">
                        <header>
                            <h4>Big Image</h4>
                        </header>
                        <p>"Slider more left: The more the big image appears in both hybrid images"</p>
                        <p>"Slider more right: The less the big image appears in both hybrid images"</p>
                        <!--<img src= "static/images/{{file1}}" alt= "static/images/{{file1}}" name = "highpassimg">-->
                        <div class="row">
                            <span>
                                <input type="range" onchange="updateTextInput(this.value);" min="1" max="40" name="highpassthresh"
                                    value="50" class="slider">
                                <input class="disp" type="text" id="textInput" value="">
                            </span>
                        </div>

                        <!--<img src= "static/images/{{file2}}" alt= "static/images/{{file2}}" name = "lowpassimg">-->
                    </div>
                    <div class="col card">
                        <header>
                            <h4 id="second">Small image</h4>
                        </header>
                        <p>"Slider more left: The less the small image appaers in both hybrid images"</p>
                        <p>"Slider more right: The more the small image appaers in both hybrid images"</p>
                        <div class="row">
                            <span>
                                <input type="range" onchange="updateTextInput2(this.value);"
                                    "setCookie('param2', this.value);" name="lowpassthresh" min="1" max="40" value="50"
                                    class="slider">
                                <input class="disp" type="text" id="textInput2" value="">
                            </span>
                        </div>
                    </div>
                    <div class="col pull-right">
                        <h2>Instruction Video</h2>
                        <video width="400" height="200" controls>
                            <source src="static/explain2.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </span>
    </div>
    <div class="row">
        <input class="button" type="submit">
    </div>
    </form>
    <div class="row">
        <form id="nextpage" action="/" method="GET" enctype="multipart/form-data">
            <input class="button secondary" type="submit" value="Next pair">
        </form>
        <input type = "button" id = "final" value = "Final" style="display:None"> </center>
        <input type = "button" id = "startover" value = "Start Over" style="display:None"> </center>

    </div>
    <h3>Images</h3>
    <div class="row">
        <div class="col">
            <div class="card pull-left">
                <header>Big Image</header>
                <img id="highpass" src="static/images/{{file1}}" width=200px height=200px>
            </div>
        </div>
        <div>
            <div class="card result pull-right">
                <header>Result</header>
                <img id="result-image" src={{file3}} width=200px height=200px>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card highpass pull-left">
                <header>Small Image</header>
                <img id="lowpass" width=40px height=40px src="static/images/{{file2}}">
            </div>
        </div>
        <div>
            <div class="card result pull-right">
                <header>Result</header>
                <img id="result-image2" src={{file3}} width=40px height=40px>
            </div>
        </div>

    </div>


    </div>



</body>
<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<script src="" async defer></script>
</body>
<html>