
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <link rel="stylesheet" type="text/css" href={{url_for('static', filename='style.css')}}>
        <link rel="stylesheet" type="text/css" href={{url_for('static', filename='skeleton.css')}}>
        <link rel="stylesheet" type="text/css" href={{url_for('static', filename='normalize.css')}}>

        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="static/script54.js"></script> 

        <style>
        .container {
            float: left;
            width: 200px;
            height: 300px;
        }
        .images {
            float: right;
            flex: 25%;
            max-width: 25%;
            padding: 0 4px;
        }

        .results {
            float: center;
        }

        </style>
    </head>

    <body>
        <div class="container">
            <form id="data" action="/process" method = "POST" enctype="multipart/form-data">
            <h2><center> My optical illusion website </center> </h2>
            <br>
            <h1>High Pass Image</h1>
            <!--<img src= "static/images/{{file1}}" alt= "static/images/{{file1}}" name = "highpassimg">-->
            <input type="range" onchange="updateTextInput(this.value);" min="1" max="40" name = "highpassthresh" value="50" class="slider"><br>
            <input type="text" id="textInput" value="">
            "The lower the threshold, the more image appears"
            <!--<img src= "static/images/{{file2}}" alt= "static/images/{{file2}}" name = "lowpassimg">-->
            <h1 id="second">Second low pass threshold</h1> 
            <input type="range" onchange="updateTextInput2(this.value);" "setCookie('param2', this.value);" name = "lowpassthresh" min="1" max="40" value="50" class="slider"><br>
            <input type="text" id="textInput2" value="">
            "The higher the threshold, the more image appears"    
        </h1>
            <br>
            <br>
            <center>
            <input type = "submit"> </center>
            <input type = "submit" value = "Final"> </center>
            
            </form>
            <form id="nextpage" action="/" method = "GET" enctype="multipart/form-data">
            <input type = "submit" value = "Next pair"> </center>
            </form>
        </div>
        <div class = "images">
            <div class = "lowpass">
            <img id = "lowpass" src = "static/images/{{file2}}" width = 200px height = 200px>
            </div>
            <div class="result">
            <img id="result-image" src="" style="width:200px;">
            </div>
            <div class = "highpass">
            <img id = "highpass" width = 100px height = 100px src = "static/images/{{file1}}">
            </div>
            <div class="result">  
            <img id="result-image2" src="" style="width: 100px;">
            </div>
            </div>
    </body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>
    </body>
</html>