
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <link rel="stylesheet" type="text/css" href={{url_for('static', filename='style.css')}}>
        <link rel="stylesheet" type="text/css" href={{url_for('static', filename='skeleton.css')}}>
        <link rel="stylesheet" type="text/css" href={{url_for('static', filename='normalize.css')}}>

        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="static/script18.js"></script> 

        <style>
        .container {
            float: left;
            width: 200px;
            height: 300px;
        }
        .images {
            float: left;
            transform: (scale(2));
        }

        .results {
            float: center;
        }

        </style>
    </head>

    <body>

        <div class="container">
            <form id="data" action="/process" method = "POST" enctype="multipart/form-data">
            <h2><center> My optical illusion website {{name}}</center> </h2>
            <br>
            <h1>High Pass Image</h1>
            <input type = "file" name="highpassimg" onchange="readURL(this);"/><br>
            <h1>Second image</h1>
            <input type="file" name="lowpassimg" onchange="readURL2(this);"/><br>
            <h1>First high pass threshold</h1>
            <input type="range" min="1" max="100" name = "highpassthresh" value="50" class="slider"><br>
            <h1 id="second">Second low pass threshold</h1> 
            <script>
               $("#second").text()
            </script>
            <input type="range" name = "lowpassthresh" min="1" max="100" value="50" class="slider"><br>
            </h1>
            <br>
            <br>
            <center>
            <input type = "submit"> </center>
            </form>
        </div>
        <div class = "images">
            <div class = "lowpass">
            <img id = "lowpass" src = "https://www.google.com/search?q=cat&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjWzdjt48fdAhVRwFkKHbalAIAQ_AUIDygC&biw=1280&bih=563#imgrc=Sx42zOsahzEQ-M:">
            </div>
        <div class = "highpass">
            <img id = "highpass" width = 50% height = 50% src = "https://www.google.com/search?q=cat&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjWzdjt48fdAhVRwFkKHbalAIAQ_AUIDygC&biw=1280&bih=563#imgrc=Sx42zOsahzEQ-M:">
            </div>
        </div>
        <div class = "results" >
            <div class="result">
            <img id="result-image" src="">
            </div>
            <div class = "size"></div>
            <div class="result">  
                <img id="result-image2" src="">
                </div>
            </div>
        </div>
    </body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>
    </body>
</html>